.chat-g
  #chat-top Global

  #chat-middle
    #chats-g
      #chat-global-g
        template#message-g
          .message-body-g
            span.sender-g
            span.content-g
            small.time-g
              span.timestamp-g.text-muted
    #messages-g  

  #chat-bottom.userId-g(class='userId-')
    input#message-field-g(placeholder='...' type='text')

  