doctype html
html
  include head.pug
  include navbar.pug
  body
    .wrapper
      include chat.pug
      .content
            .alert.alert-primary(role='alert')
              | This is a #{title} page
            .alert.alert-warning(role='alert')
              | Please, write the backend code, mister backend developper: #{username}!!!

  include footer.pug
