doctype html
html
  include head.pug
  include navbar.pug
  body
    .wrapper
      include chat.pug
      .content
            .alert.alert-primary(role='alert')
              | This is a demo page

  include footer.pug
