doctype html
html
  include head.pug
  include navbar.pug
  body
    .wrapper
      include chat.pug
      //- include chat-global.pug
      .content
            .alert.alert-primary(role='alert')
              | This is a #{title} page
            .alert.alert-warning(role='alert')
              | Backend goes here User: #{username}!

  include footer.pug
