doctype html
html
  include head.pug
  include navbar.pug
  body
    .wrapper
      include chat.pug
      .content
        form.mx-1(action='/test/start')
          input.btn.btn-success.btn-lg.test-button(type='submit' value='test click')


          //h2 This is home
  include footer.pug
