doctype html
html
  include head.pug
  include navbar.pug
  body
    .wrapper
      include chat.pug
      .content
          button.btn.btn-success.btn-lg.test-button(type='button') CLICK
          //h2 This is home
  include footer.pug
