doctype html
html
  include head.pug
  body
    .wrapper.reg
      h1.welcome Welcome to UNO game
      .text-center
        h1 Login here
      .container
        if error
          .alert.alert-danger
            | Invalid Credentials
        form(onsubmit='return true')#loginForm(action='/auth/login', method='post')
          .mb-3
            label.form-label(for='username')
              | Username
            input#loginUsername.form-control(type='text', name='username', placeholder='Enter your user name')
          .mb-3
            label.form-label(for='password')
              | Password
            input#loginPassword1.form-control(type='password', name='password', placeholder='Enter your user password')
          button.btn.btn-primary(type='submit')
            | Submit
          a.link-primary(href='/auth/register', value='login')
            | Sign Up
      include footer.pug