doctype html
html
  include head.pug
  include navbar.pug
  body
    .wrapper
      include chat.pug
      .content
        #joinGame
          h2 LIST OF ACTIVE GAMES
          .my-games
            each game in games.slice().reverse()
              .my-game
                p
                  b game id:
                  br
                  | #{game.id}
                if game.isPrivate == true
                  p
                    i Private
                else
                  p
                    i Public
                p
                  b created
                  br
                  | #{game.createdAt}
                p
                  b # of players
                  br
                  | #{game.number} / #{game.max_players}
                form.mx-1(action="/home/game/" + game.id method="get")
                  input.btn.btn-warning(type="submit" value="return")
 
  include footer.pug
