* {
	padding: 50px;
	box-sizing: border-box;
	font:
		14px "Lucida Grande",
		Helvetica,
		Arial,
		sans-serif;
	margin: 0;
	padding: 0;
}

body button {
	border-radius: 0 !important;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: url(../images/background.jpeg);
	background-image: -moz-linear-gradient();
	background-size: cover;
	background-position: 50% 0;
}

footer {
	text-align: center;
	border-top: rgb(50, 50, 50) solid 1px;
	margin-top: 1px;
}

header {
}

.username {
	font-style: italic;
}

.welcome-banner {
}

form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

form > a,
form > button {
	margin: 1rem;
}

@keyframes color-frame {
	0% {
		color: white;
	}
	15% {
		color: yellow;
	}
	33% {
		color: green;
	}
	52% {
		color: red;
	}
	70% {
		color: blue;
	}
	90% {
		color: white;
	}
}

.welcome {
	animation-name: color-frame;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	text-align: center;
	padding: 3rem;
	font-weight: 900;
	border: 1px;
	background-position: 50% 0;
}

.username {
	animation-name: colors2;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
