* {
	padding: 50px;
	box-sizing: border-box;
	font:
		14px "Lucida Grande",
		Helvetica,
		Arial,
		sans-serif;
	margin: 0;
	padding: 0;
}

body button {
	border-radius: 0 !important;
	cursor: pointer;
}

.game-title {
	white-space: nowrap;
  }

.test-button {
	width: 30rem;
	height: 20rem;
	font-size: 5rem;
}

header {
	background-color: #fa8a00;
}

.navbar {
	background-color: #fa8a00 !important;
}

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-image: url(../images/background.jpeg);
	background-image: -moz-linear-gradient();
	background-size: cover;
	background-position: 50% 0;
	height: 100vh;
}

.reg {
	flex-direction: column;
}

.content,
.content-g {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	text-align: center;
	border-top: rgb(50, 50, 50) solid 1px;
	margin-top: 1px;
	background-color: #fa8a00;
}

header {
}

.username {
	font-style: italic;
}

.welcome-banner {
}

form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

form > a,
form > button {
	margin: 1rem;
}

@keyframes color-frame {
	0% {
		color: white;
	}
	15% {
		color: yellow;
	}
	33% {
		color: green;
	}
	52% {
		color: red;
	}
	70% {
		color: blue;
	}
	90% {
		color: white;
	}
}

.welcome {
	animation-name: color-frame;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	text-align: center;
	padding: 3rem;
	font-weight: 900;
	border: 1px;
	background-position: 50% 0;
}

.username {
	animation-name: colors2;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

/* added */

body {
	min-height: 100vh;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

.main {
	height: 100%;
	width: 100%;
	padding: 3rem;
	/* position: relative; */
}

a {
	color: rgb(0, 0, 255);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: auto;
	max-width: 100%;
	padding: 0;
	margin: 0;
}

.chat,
.chat-g {
	border-left: 1px rgb(50, 50, 50) solid;
	margin-right: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 15rem;
	min-width: 15rem;
	max-width: 15rem;
	height: 100%;
	max-height: 85vh;
}

#chat-top,
#chat-top-g,
#private-chat-top,
#private-chat-top {
	display: flex;
	height: 30px;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	align-items: center;
	font-size: larger;
	font-style: italic;
	font-weight: bolder;
}

#chat-middle,
#chat-middle,
#private-chat-middle,
#private-chat-middle {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	height: 85%;
	width: 100%;
}

#chat-middle {
	background-color: bisque;
}

#chat-bottom,
#private-chat-bottom {
	height: 55px;
	margin-left: 5px;
}

#chat-bottom > input {
	height: 50px;
	padding: 0 10px;
	width: 100%;
}

#messages,
#messages-g {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	width: 100%;
}

#inputBox {
	display: flex;
	flex-wrap: nowrap;
}

#inputBox > input {
	width: 100%;
	border: 1px solid rgb(50, 50, 50);
	margin: 3px;
	height: 40px;
}

.sender,
.sender-g {
	font-weight: 600;
	width: 100%;
	color: blue;
}

.content,
.content-g {
	font-style: italic;
	font-weight: 600;
	word-break: break-all;
}

.messages-right,
.messages-right- {
	text-align: end;
}

.messages-right::after,
.messages-right-g::after {
	content: " (you)";
}

.message-body,
.message-body-g {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	border-radius: 5%;
	border-top: 1px lightgray solid;
	border-bottom: 1px lightgray solid;
	padding: 0 10px;
}

.message-body-right {
	background: lightgray;
}

.time,
.time-g {
	width: 100%;
	text-align: right;
}

#chat {
	max-width: 30rem;
	width: 100%;
	height: 100%;
	overflow: scroll;
	background-color: #fff;
}

#chat-global,
#chat-global-g {
	z-index: 2;
}

#chat-private {
	z-index: 1;
}

#globalChat,
#globalChat-g {
	flex-grow: 1;
}

#globalChat > button,
#globalChat-g > button,
#privateChat > button {
	width: 100%;
}

#welcomeLink {
	font-size: 8rem;
}

.nav-nav-buttons {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

#joinGame {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

#joinGame > h1,
#joinGame > h2,
#joinGame > form,
#joinGame > h1,
#joinGame > h2,
#joinGame > form {
	text-align: center;
}

#joinGame > div > form input,
#joinGame > div > form input {
	width: 300px;
	height: 100px;
	margin: 1rem;
}
#joinGame > div,
#joinGame > div {
	justify-content: center;
}

.my-games {
	width: 100%;
	flex-direction: column;
	position: relative;
	overflow-y: scroll;
	text-align: center;
}
.my-game,
.my-game-code {
	display: flex;
	justify-content: space-around;
	position: relative;
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid rgb(50, 50, 50);
}

.my-game-code {
	justify-content: flex-end;
	margin-right: 5rem;
	border: none;
}

.my-game-code .codeText {
	font-weight: bolder;
	color: green;
}

.input-private-games {
	max-width: 40rem;
}

.my-games {
	display: flex;
	width: 100%;
	flex-direction: column;
	position: relative;
	overflow-y: scroll;
	text-align: center;
	max-height: 50vh;
	border: grey 1px solid;
	justify-content: flex-start !important;
}

/*  TODO */

.gameTable {
	height: 100%;
	width: 100%;
	border: 5px solid blue;
	margin: 0 1px;
}

.tableMes {
	text-align: center;
	color: blue;
	border-bottom: blue 5px solid;
}

#turnRed {
	color: red;
	font-size: xx-large;
	text-align: center;
	font-weight: bold;
}
#turnGreen {
	color: green;
	font-size: xx-large;
	text-align: center;
	font-weight: bold;
}

#currentCard {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 5rem;
}

div[class^="color-"] {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;

	width: 10rem;
	border: 1px grey solid;
	height: 100%;
	margin-left: 5rem;

	color: white;
	font-weight: 900;
	font-size: x-large;
	padding: 3px;

	text-align: center;
}

div[class^="type-"] {
	margin: 0;
	text-align: center;
}

.type-0::before {
	content: "0";
}
.type-1::before {
	content: "1";
}
.type-2::before {
	content: "2";
}
.type-3::before {
	content: "3";
}
.type-4::before {
	content: "4";
}
.type-5::before {
	content: "5";
}
.type-6::before {
	content: "6";
}
.type-7::before {
	content: "7";
}
.type-8::before {
	content: "8";
}
.type-9::before {
	content: "9";
}
.type-10::before {
	content: "Draw Two";
}

.type-11::before {
	content: "Draw Four";
}

.type-12::before {
	content: "Wild";
}

.type-13::before {
	content: "Reverse";
}

.type-14::before {
	content: "Skip";
}

.color-yellow {
	background-color: rgb(255, 190, 0);
}

.color-blue {
	background-color: blue;
}
.color-red {
	background-color: red;
}
.color-green {
	background-color: green;
}

.color-none {
	background-color: grey;
}

.wildCard {
	display: flex;
	margin: 1rem 3rem;
}

.wildCard > div {
	margin: 0;
	padding: 0;
	margin-right: 15px;
}
.wildCard > div > p {
	margin: 5px;
	padding: 5px;
}

.takeBtn {
	width: 100%;
	text-align: center;
}

.seatInfo {
	width: 100%;
	text-align: right;
	margin: 0;
	padding: 0;
}

.seatInfo > p {
	margin: 0;
	margin-right: 1rem;
}

button[class^="btn-color"] {
	margin: 1px;
	height: 5rem;
	width: 5rem;
}

#selfCards {
	max-height: 30rem;
	overflow: scroll;
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	align-items: center;
}

#selfCards > * {
	width: 100%;
}

[class^="btn-color-"] {
	margin: 1px;
	text-align: center;
}

.btn-color-yellow {
	background-color: rgb(255, 190, 0);
}

.btn-color-blue {
	background-color: blue;
}
.btn-color-red {
	background-color: red;
}
.btn-color-green {
	background-color: green;
}

.btn-color-none {
	background-color: grey;
}

.gameTable {
	overflow: scroll;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#board {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.chat-name {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
}
